.background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid white;
    border-radius: 30px;
    text-align: center;
    place-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    background-color: rgb(247, 245, 245);
    height: auto;
    width: 300px;
    border-radius: 50px;
    padding: 20px;
  
 
}

label {
    
    color: black;
    margin: 2px;
    padding: 4px;
   
}

input {
    color: white;
    height: 50px;
   
}

h6 {
    color: black;
}
